.title {
  align-self: flex-end;
  margin: 0;
  font-size: 40px;
  color: #6385fe;
}

.item-title {
  font-size: 1.4em;
}

.list-item {
  background-color: white;
  padding: 30px 20px 30px 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 97%;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.list-item:hover {
  cursor: default;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-7px);
}

.favorite {
  display: flex;
  align-items: center;
}

.favorite-icon {
  font-size: 1.5em;
}

.info {
  margin-left: 10px;
  width: 70%;
  font-size: 0.9em;
}

.info-row {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.info h3 {
  margin: 0;
}

.review {
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.duration {
  text-align: right;
  font-size: 1.1em;
  width: 20%;
}

.direction-icon {
  color: #ff64d4;
  margin-left: 20px;
  font-size: 3.5em;
}

.direction-icon:hover {
  color: #ff2bc2;
  cursor: default;
}

.location {
  margin-top: 20px;
}
